.homepage {
    width: 90%;
    height: 90%;
  }

.homepage-top {
  width: 90%;
  height: 60%;
}

.homepage-bottom {
  width: 90%;
  height: 20%;
  font-size: 20px;
}

.description {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);}